/* You can add global styles to this file, and also import other style files */
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.widget-body {
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    padding-left: 20px;
    border: 1px solid rgba(0, 0, 0, 0.5);
}
